 <div id="page_wrapper">
     <div id="profile_image">
         <%= image_tag "profile.jpeg" %>
     </div>

     <div id="content">
         <H1>Hey I'm Filip Sipos</H1>
         <p>Humblebrag offal master cleanse fam chia, ennui forage small batch skateboard gentrify glossier hoodie retro crucifix. Literally copper mug sustainable, bicycle rights woke asymmetrical mustache lo-fi freegan cold-pressed air plant banh mi helvetica. Tbh fam literally umami. Whatever +1 tote bag, la croix artisan vegan keffiyeh leggings glossier deep v beard. Truffaut selvage semiotics, vexillologist street art wolf listicle PBR&B scenester chillwave before they sold out vape DIY. VHS vegan four dollar toast, godard readymade pinterest organic enamel pin poutine mixtape fashion axe seitan brooklyn fap artisan. Farm-to-table vaporware chia, mlkshk plaid 8-bit venmo tumblr scenester raw denim knausgaard jianbing raclette iceland +1.</p>
        <p>
        Succulents literally DIY authentic tofu enamel pin, everyday carry offal street art readymade snackwave lumbersexual heirloom. Lomo tote bag PBR&B cornhole, photo booth af kickstarter pok pok. Ethical hexagon shabby chic cornhole plaid. Cold-pressed chillwave four loko blog, vape helvetica wolf ennui gentrify DIY woke synth austin hashtag. Truffaut hashtag scenester irony letterpress, schlitz crucifix. DIY literally kogi brooklyn marfa. Everyday carry cornhole shoreditch, four dollar toast truffaut actually you probably haven't heard of them green juice gastropub migas.</p>
        <p>Man braid ramps direct trade hella bespoke twee letterpress. Leggings disrupt slow-carb before  they sold out, blue bottle intelligentsia poutine fap umami jianbing ethical master cleanse etsy yr live-edge. Bushwick pour-over 3 wolf moon neutra, four dollar toast quinoa waistcoat small batch af. Helvetica mustache affogato, meggings slow-carb forage skateboard truffaut marfa post-ironic. Kogi vinyl cliche sartorial, normcore gluten-free fanny pack tumblr intelligentsia scenester neutra vape photo booth hella iceland. Tumblr selvage migas, direct trade keffiyeh art party jianbing poutine snackwave paleo glossier locavore viral XOXO. Raw denim mustache fanny pack pug.</p>
     </div>
 </div>